@use './abstracts/variables';
@use './abstracts/breakpoints';
@use './abstracts/mixins';

@use './base/reset';
@use './base/global';
@use './base/typography';
@use './base/animations';

.path {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    background: #f1f5f9;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    color: --color_9;
    margin: 4px 0;
}

.red-btn {
    color: var(--white);
    background: #d32f2f;
    padding: 4px 8px;
    border-radius: 4px;
}
