@use '../../components/GlobalStyles/abstracts/mixins' as *;

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    max-width: 100%;
    width: var(--default-layout-width);
    // padding: 0 var(--default-layout-horizontal-spacer);
    // margin-top: var(--default-layout-header-height);
    // min-height: 2000px;
}

.right-section {
    flex: 1;
    margin-left: var(--default-sidebar-width);
    background: url(../../assets/images/liquid_glass_bg001.webp) center center;

    .overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.9);
        transition: all 0.2s ease-in-out;

        opacity: 0;
        z-index: 0;
        pointer-events: none;
    }

    .close-icon {
        position: fixed;
        top: 10px;
        right: 10px;
        font-size: 2.4rem;
        color: var(--white);
        transition: all 0.4s ease;

        transform: translateX(100px);
    }

    @include mobile {
        margin: 0;

        .overlay {
            &.open {
                opacity: 1;
                z-index: 1000;
                pointer-events: initial;
            }
        }

        .close-icon {
            &.open {
                transform: translateX(0);
                z-index: 9999;
            }
        }
    }
}

.content {
    width: 100%;
    max-width: 1200px;
    margin: var(--default-layout-header-height) auto 0px;
    padding: 20px 0;

    @include mobile {
        padding: 10px;
    }
}
