@use '../../../components/GlobalStyles/abstracts/mixins' as *;

.wrapper {
    display: flex;
    flex-direction: column;

    width: var(--default-sidebar-width);
    padding: 0px 0px;
    background-color: #1e2936;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 101;

    .menu-wrapper {
        padding: 0;
    }

    @include tablet {
        width: var(--default-sidebar-width-tablet);
    }

    @include mobile {
        width: var(--default-sidebar-width);
        transform: translateX(-100%);

        &.open {
            transform: translateX(0);
        }
    }
}

.sidebar-header {
    background: #b71c1c;
    padding: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 12px;

    .co-dang {
        width: 40px;
        height: auto;
    }

    .title {
        font-size: 1.4rem;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }

    .description {
        font-size: 1rem;
        opacity: 0.8;
        margin-top: 2px;
    }
}
